/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #111111;
    --orange-1: #FEA301;
    --orange-2: #F0AA00;
    --skyBlue: #01ACFD;
    --skyBlue1: #05D4DF;
    --blue-1: #5D58EF;
    --blue-2: #64C8EF;
    --blue-3: #3CD8E8;
    --blue-4: #5D58F0;
    --white: #FFFFFF;
    --dark-1: #000000;
    --dark-2: #202020;
    --dark-3: #808080;
    --dark-4: #666666;
    --purple: #8700FF;
    --green: #95B226;

}
body {
    background-color: #FFFFFF;
    font-family: "Quicksand", serif;

}
/* common style  */
.section-title {
    font-size: 2.875rem;
    font-weight: 700;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}


/* navbar design start */
nav {
    max-width: 1160px;
    margin: 0 auto;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar .logo{
    align-items: center;
}
.logo-img {
    display: inline-block;
    height: 62px;
    width: 62px;
    cursor: pointer;
}
.logo .brand {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    margin-left: 10px;
}
.navbar .menu ul li {
    list-style: none;
    margin-right: 32px;
}
.navbar .menu ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.navbar .menu .active {
    color: var(--orange-1);
    font-weight: 700;
}
 .navbar .menu .second-child{
    color: var(--skyBlue);   
}
.navbar .menu .third-child {
    color: var(--skyBlue1);
}
.navbar .menu .last-child{
    color: var(--blue-1);
}
.navbar .nav-btn {
    background-color: var(--orange-1);
    color: var(--white);
    padding: 12px 25px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
}
.navbar .menu-icon {
    display: none;
}
.navbar .menu-icon i {
    font-size: 1.75rem;
    color: var(--black);
}
/* navbar design end */


/* media query  */
@media screen and (max-width: 576px){
   /* navbar sectin  */
    .navbar .brand, .menu, .navbar-btn {
        display: none;
    }
    .navbar .menu-icon {
        display: block;
        margin-right: 15px;
        cursor: pointer;
    }
    .navbar {
        border-bottom: 1px solid var(--orange-1);
    }
    .logo {
        margin-left: 15px;
    }
    /* banner section  */

    
}